In [ ]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s1[3]
s1[-1]
s1[-2:]
s1[:2]

<ipython-input-6-bc67663c7454>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[3]
<ipython-input-6-bc67663c7454>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[-1]

a    1
b    2
dtype: int64

In [ ]:
s1+5

a     6
b     7
c     8
d     9
e    10
dtype: int64

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5])  # Changed pd.series to pd.Series
s2 = pd.Series([10, 20, 30, 40, 50])
s1 + s2

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
df=pd.DataFrame({"Name":['bob','sam','Anne'],"marks":[10,20,30]})
df

   Name  marks
0   bob     10
1   sam     20
2  Anne     30

In [ ]:
#using data frames
crime=pd.read_csv('crime.csv')
crime.head()

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,1960,179323175,288460,9110,17190,NaN,107840,154320,3095700,912100,...,160.9,5.1,9.6,NaN,60.1,86.1,1726.3,508.6,1034.7,183.0
1,1961,182992000,289390,8740,17220,NaN,106670,156760,3198600,949600,...,158.1,4.8,9.4,NaN,58.3,85.7,1747.9,518.9,1045.4,183.6
2,1962,185771000,301510,8530,17550,NaN,110860,164570,3450700,994300,...,162.3,4.6,9.4,NaN,59.7,88.6,1857.5,535.2,1124.8,197.4
3,1963,188483000,316970,8640,17650,NaN,116470,174210,3792500,1086400,...,168.2,4.6,9.4,NaN,61.8,92.4,2012.1,576.4,1219.1,216.6
4,1964,191141000,364220,9360,21420,NaN,130390,203050,4200400,1213200,...,190.6,4.9,11.2,NaN,68.2,106.2,2197.5,634.7,1315.5,247.4

In [ ]:
crime.tail()

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
50,2010,309330219,1251248,14722,85593,NaN,369089,781844,9112625,2168459,...,404.5,4.8,27.7,NaN,119.3,252.8,2945.9,701.0,2005.8,239.1
51,2011,311587816,1206031,14661,84175,NaN,354772,752423,9052743,2185140,...,387.1,4.7,27.0,NaN,113.9,241.5,2905.4,701.3,1974.1,230.0
52,2012,313873685,1217067,14866,85141,NaN,355051,762009,9001992,2109932,...,387.8,4.7,27.1,NaN,113.1,242.8,2868.0,672.2,1965.4,230.4
53,2013,316497531,1199684,14319,82109,113695.0,345095,726575,8650761,1931835,...,379.1,4.5,25.9,35.9,109.0,229.6,2733.3,610.4,1901.6,221.3
54,2014,318857056,1197987,14249,84041,116645.0,325802,741291,8277829,1729806,...,375.7,4.5,26.4,36.6,102.2,232.5,2596.1,542.5,1837.3,216.2

In [ ]:
#To find the no of rows and columns
crime.shape

(55, 22)

In [ ]:
#only prints the rows and colums from the specific location
crime.iloc[30:40,10:]

,Larceny-theft,Motor vehicle theft,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
30,7945670,1635907,729.6,9.4,41.1,NaN,256.3,422.9,5073.1,1232.2,3185.1,655.8
31,8142228,1661738,758.2,9.8,42.3,NaN,272.7,433.4,5140.2,1252.1,3229.1,659.0
32,7915199,1610834,757.7,9.3,42.8,NaN,263.7,441.9,4903.7,1168.4,3103.6,631.6
33,7820909,1563060,747.1,9.5,41.1,NaN,256.0,440.5,4740.0,1099.7,3033.9,606.3
34,7879812,1539287,713.6,9.0,39.3,NaN,237.8,427.6,4660.2,1042.1,3026.9,591.3
35,7997710,1472441,684.5,8.2,37.1,NaN,220.9,418.3,4590.5,987.0,3043.2,560.3
36,7904685,1394238,636.6,7.4,36.3,NaN,201.9,391.0,4451.0,945.0,2980.3,525.7
37,7743760,1354189,611.0,6.8,35.9,NaN,186.2,382.1,4316.3,918.8,2891.8,505.7
38,7376311,1242781,567.6,6.3,34.5,NaN,165.5,361.4,4052.5,863.2,2729.5,459.9
39,6955520,1152075,523.0,5.7,32.8,NaN,150.1,334.3,3743.6,770.4,2550.7,422.5

In [ ]:
#prints required columns
crime.loc[0:,("Year","Aggravated assault","Population")]

    Year  Aggravated assault  Population
0   1960              154320   179323175
1   1961              156760   182992000
2   1962              164570   185771000
3   1963              174210   188483000
4   1964              203050   191141000
5   1965              215330   193526000
6   1966              235330   195576000
7   1967              257160   197457000
8   1968              286700   199399000
9   1969              311090   201385000
10  1970              334970   203235298
11  1971              368760   206212000
12  1972              393090   208230000
13  1973              420650   209851000
14  1974              456210   211392000
15  1975              492620   213124000
16  1976              500530   214659000
17  1977              534350   216332000
18  1978              571460   218059000
19  1979              629480   220099000
20  1980              672650   225349264
21  1981              663900   229465714
22  1982              669480   231664458
23  1983              653294   233791994
24  1984              685349   235824902
25  1985              723246   237923795
26  1986              834322   240132887
27  1987              855088   242288918
28  1988              910092   244498982
29  1989              951707   246819230
30  1990             1054863   249464396
31  1991             1092739   252153092
32  1992             1126974   255029699
33  1993             1135607   257782608
34  1994             1113179   260327021
35  1995             1099207   262803276
36  1996             1037049   265228572
37  1997             1023201   267783607
38  1998              976583   270248003
39  1999              911740   272690813
40  2000              911706   281421906
41  2001              909023   285317559
42  2002              891407   287973924
43  2003              859030   290788976
44  2004              847381   293656842
45  2005              862220   296507061
46  2006              874096   299398484
47  2007              866358   301621157
48  2008              843683   304059724
49  2009              812514   307006550
50  2010              781844   309330219
51  2011              752423   311587816
52  2012              762009   313873685
53  2013              726575   316497531
54  2014              741291   318857056

In [ ]:
#drop the required colum
crime.drop("Year",axis=1)

,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,Larceny-theft,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,179323175,288460,9110,17190,NaN,107840,154320,3095700,912100,1855400,...,160.9,5.1,9.6,NaN,60.1,86.1,1726.3,508.6,1034.7,183.0
1,182992000,289390,8740,17220,NaN,106670,156760,3198600,949600,1913000,...,158.1,4.8,9.4,NaN,58.3,85.7,1747.9,518.9,1045.4,183.6
2,185771000,301510,8530,17550,NaN,110860,164570,3450700,994300,2089600,...,162.3,4.6,9.4,NaN,59.7,88.6,1857.5,535.2,1124.8,197.4
3,188483000,316970,8640,17650,NaN,116470,174210,3792500,1086400,2297800,...,168.2,4.6,9.4,NaN,61.8,92.4,2012.1,576.4,1219.1,216.6
4,191141000,364220,9360,21420,NaN,130390,203050,4200400,1213200,2514400,...,190.6,4.9,11.2,NaN,68.2,106.2,2197.5,634.7,1315.5,247.4
5,193526000,387390,9960,23410,NaN,138690,215330,4352000,1282500,2572600,...,200.2,5.1,12.1,NaN,71.7,111.3,2248.8,662.7,1329.3,256.8
6,195576000,430180,11040,25820,NaN,157990,235330,4793300,1410100,2822000,...,220.0,5.6,13.2,NaN,80.8,120.3,2450.9,721.0,1442.9,286.9
7,197457000,499930,12240,27620,NaN,202910,257160,5403500,1632100,3111600,...,253.2,6.2,14.0,NaN,102.8,130.2,2736.5,826.6,1575.8,334.1
8,199399000,595010,13800,31670,NaN,262840,286700,6125200,1858900,3482700,...,298.4,6.9,15.9,NaN,131.8,143.8,3071.8,932.3,1746.6,393.0
9,201385000,661870,14760,37170,NaN,298850,311090,6749000,1981900,3888600,...,328.7,7.3,18.5,NaN,148.4,154.5,3351.3,984.1,1930.9,436.2
10,203235298,738820,16000,37990,NaN,349860,334970,7359200,2205000,4225800,...,363.5,7.9,18.7,NaN,172.1,164.8,3621.0,1084.9,2079.3,456.8
11,206212000,816500,17780,42260,NaN,387700,368760,7771700,2399300,4424200,...,396.0,8.6,20.5,NaN,188.0,178.8,3768.8,1163.5,2145.5,459.8
12,208230000,834900,18670,46850,NaN,376290,393090,7413900,2375500,4151200,...,401.0,9.0,22.5,NaN,180.7,188.8,3560.4,1140.8,1993.6,426.1
13,209851000,875910,19640,51400,NaN,384220,420650,7842200,2565500,4347900,...,417.4,9.4,24.5,NaN,183.1,200.5,3737.0,1222.5,2071.9,442.6
14,211392000,974720,20710,55400,NaN,442400,456210,9278700,3039200,5262500,...,461.1,9.8,26.2,NaN,209.3,215.8,4389.3,1437.7,2489.5,462.2
15,213124000,1039710,20510,56090,NaN,470500,492620,10252700,3265300,5977700,...,487.8,9.6,26.3,NaN,220.8,231.1,4810.7,1532.1,2804.8,473.7
16,214659000,1004210,18780,57080,NaN,427810,500530,10345500,3108700,6270800,...,467.8,8.7,26.6,NaN,199.3,233.2,4819.5,1448.2,2921.3,450.0
17,216332000,1029580,19120,63500,NaN,412610,534350,9955000,3071500,5905700,...,475.9,8.8,29.4,NaN,190.7,247.0,4601.7,1419.8,2729.9,451.9
18,218059000,1085550,19560,67610,NaN,426930,571460,10123400,3128300,5991000,...,497.8,9.0,31.0,NaN,195.8,262.1,4642.5,1434.6,2747.4,460.5
19,220099000,1208030,21460,76390,NaN,480700,629480,11041500,3327700,6601000,...,548.9,9.8,34.7,NaN,218.4,286.0,5016.6,1511.9,2999.1,505.6
20,225349264,1344520,23040,82990,NaN,565840,672650,12063700,3795200,7136900,...,596.6,10.2,36.8,NaN,251.1,298.5,5353.3,1684.1,3167.0,502.2
21,229465714,1361820,22520,82500,NaN,592910,663900,12061900,3779700,7194400,...,593.5,9.8,36.0,NaN,258.4,289.3,5256.5,1647.2,3135.3,474.1
22,231664458,1322390,21010,78770,NaN,553130,669480,11652000,3447100,7142500,...,570.8,9.1,34.0,NaN,238.8,289.0,5029.7,1488.0,3083.1,458.6
23,233791994,1258087,19308,78918,NaN,506567,653294,10850543,3129851,6712759,...,538.1,8.3,33.8,NaN,216.7,279.4,4641.1,1338.7,2871.3,431.1
24,235824902,1273282,18692,84233,NaN,485008,685349,10608473,2984434,6591874,...,539.9,7.9,35.7,NaN,205.7,290.6,4498.5,1265.5,2795.2,437.7
25,237923795,1327767,18976,87671,NaN,497874,723246,11102590,3073348,6926380,...,558.1,8.0,36.8,NaN,209.3,304.0,4666.4,1291.7,2911.2,463.5
26,240132887,1489169,20613,91459,NaN,542775,834322,11722700,3241410,7257153,...,620.1,8.6,38.1,NaN,226.0,347.4,4881.8,1349.8,3022.1,509.8
27,242288918,1483999,20096,91111,NaN,517704,855088,12024709,3236184,7499851,...,612.5,8.3,37.6,NaN,213.7,352.9,4963.0,1335.7,3095.4,531.9
28,244498982,1566221,20675,92486,NaN,542968,910092,12356865,3218077,7705872,...,640.6,8.5,37.8,NaN,222.1,372.2,5054.0,1316.2,3151.7,586.1
29,246819230,1646037,21500,94504,NaN,578326,951707,12605412,3168170,7872442,...,666.9,8.7,38.3,NaN,234.3,385.6,5107.1,1283.6,3189.6,634.0
30,249464396,1820127,23438,102555,NaN,639271,1054863,12655486,3073909,7945670,...,729.6,9.4,41.1,NaN,256.3,422.9,5073.1,1232.2,3185.1,655.8
31,252153092,1911767,24703,106593,NaN,687732,1092739,12961116,3157150,8142228,...,758.2,9.8,42.3,NaN,272.7,433.4,5140.2,1252.1,3229.1,659.0
32,255029699,1932274,23760,109062,NaN,672478,1126974,12505917,2979884,7915199,...,757.7,9.3,42.8,NaN,263.7,441.9,4903.7,1168.4,3103.6,631.6
33,257782608,1926017,24526,106014,NaN,659870,1135607,12218777,2834808,7820909,...,747.1,9.5,41.1,NaN,256.0,440.5,4740.0,1099.7,3033.9,606.3
34,260327021,1857670,23326,102216,NaN,618949,1113179,12131873,2712774,7879812,...,713.6,9.0,39.3,NaN,237.8,427.6,4660.2,1042.1,3026.9,591.3
35,262803276,1798792,21606,97470,NaN,580509,1099207,12063935,2593784,7997710,...,684.5,8.2,37.1,NaN,220.9,418.3,4590.5,987.0,3043.2,560.3
36,265228572,1688540,19645,96252,NaN,535594,1037049,11805323,2506400,7904685,...,636.6,7.4,36.3,NaN,201.9,391.0,4451.0,945.0,2980.3,525.7
37,267783607,1636096,18208,96153,NaN,498534,1023201,11558475,2460526,7743760,...,611.0,6.8,35.9,NaN,186.2,382.1,4316.3,918.8,2891.8,505.7
38,270248003,1533887,16974,93144,NaN,447186,976583,10951827,2332735,7376311,...,567.6,6.3,34.5,NaN,165.5,361.4,4052.5,863.2,2729.5,459.9
39,272690813,1426044,15522,89411,NaN,409371,911740,10208334,2100739,6955520,...,523.0,5.7,32.8,NaN,150.1,334.3,3743.6,770.4,2550.7,422.5
40,281421906,1425486,15586,90178,NaN,408016,911706,10182584,2050992,6971590,...,506.5,5.5,32.0,NaN,145.0,324.0,3618.3,728.8,2477.3,412.2
41,285317559,1439480,16037,90863,NaN,423557,909023,10437189,2116531,7092267,...,504.5,5.6,31.8,NaN,148.5,318.6,3658.1,741.8,2485.7,430.5
42,287973924,1423677,16229,95235,NaN,420806,891407,10455277,2151252,7057379,...,494.4,5.6,33.1,NaN,146.1,309.5,3630.6,747.0,2450.7,432.9
43,290788976,1383676,16528,93883,NaN,414235,859030,10442862,2154834,7026802,...,475.8,5.7,32.3,NaN,142.5,295.4,3591.2,741.0,2416.5,433.7
44,293656842,1360088,16148,95089,NaN,401470,847381,10319386,2144446,6937089,...,463.2,5.5,32.4,NaN,136.7,288.6,3514.1,730.3,2362.3,421.5
45,296507061,1390745,16740,94347,NaN,417438,862220,10174754,2155448,6783447,...,469.0,5.6,31.8,NaN,140.8,290.8,3431.5,726.9,2287.8,416.8
46,299398484,1435123,17309,94472,NaN,449246,874096,10019601,2194993,6626363,...,479.3,5.8,31.6,NaN,150.0,292.0,3346.6,733.1,2213.2,400.2
47,301621157,1422970,17128,92160,NaN,447324,866358,9882212,2190198,6591542,...,471.8,5.7,30.6,NaN,148.3,287.2,3276.4,726.1,2185.4,364.9
48,304059724,1394461,16465,90750,NaN,443563,843683,9774152,2228887,6586206,...,458.6,5.4,29.8,NaN,145.9,277.5,3214.6,733.0,2166.1,315.4
49,307006550,1325896,15399,89241,NaN,408742,812514,9337060,2203313,6338095,...,431.9,5.0,29.1,NaN,133.1,264.7,3041.3,717.7,2064.5,259.2
50,309330219,1251248,14722,85593,NaN,369089,781844,9112625,2168459,6204601,...,404.5,4.8,27.7,NaN,119.3,252.8,2945.9,701.0,2005.8,239.1
51,311587816,1206031,14661,84175,NaN,354772,752423,9052743,2185140,6151095,...,387.1,4.7,27.0,NaN,113.9,241.5,2905.4,701.3,1974.1,230.0
52,313873685,1217067,14866,85141,NaN,355051,762009,9001992,2109932,6168874,...,387.8,4.7,27.1,NaN,113.1,242.8,2868.0,672.2,1965.4,230.4
53,316497531,1199684,14319,82109,113695.0,345095,726575,8650761,1931835,6018632,...,379.1,4.5,25.9,35.9,109.0,229.6,2733.3,610.4,1901.6,221.3
54,318857056,1197987,14249,84041,116645.0,325802,741291,8277829,1729806,5858496,...,375.7,4.5,26.4,36.6,102.2,232.5,2596.1,542.5,1837.3,216.2

In [ ]:
#drop the rows from the index positions
crime.drop([1,2,3],axis=0)

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,1960,179323175,288460,9110,17190,NaN,107840,154320,3095700,912100,...,160.9,5.1,9.6,NaN,60.1,86.1,1726.3,508.6,1034.7,183.0
4,1964,191141000,364220,9360,21420,NaN,130390,203050,4200400,1213200,...,190.6,4.9,11.2,NaN,68.2,106.2,2197.5,634.7,1315.5,247.4
5,1965,193526000,387390,9960,23410,NaN,138690,215330,4352000,1282500,...,200.2,5.1,12.1,NaN,71.7,111.3,2248.8,662.7,1329.3,256.8
6,1966,195576000,430180,11040,25820,NaN,157990,235330,4793300,1410100,...,220.0,5.6,13.2,NaN,80.8,120.3,2450.9,721.0,1442.9,286.9
7,1967,197457000,499930,12240,27620,NaN,202910,257160,5403500,1632100,...,253.2,6.2,14.0,NaN,102.8,130.2,2736.5,826.6,1575.8,334.1
8,1968,199399000,595010,13800,31670,NaN,262840,286700,6125200,1858900,...,298.4,6.9,15.9,NaN,131.8,143.8,3071.8,932.3,1746.6,393.0
9,1969,201385000,661870,14760,37170,NaN,298850,311090,6749000,1981900,...,328.7,7.3,18.5,NaN,148.4,154.5,3351.3,984.1,1930.9,436.2
10,1970,203235298,738820,16000,37990,NaN,349860,334970,7359200,2205000,...,363.5,7.9,18.7,NaN,172.1,164.8,3621.0,1084.9,2079.3,456.8
11,1971,206212000,816500,17780,42260,NaN,387700,368760,7771700,2399300,...,396.0,8.6,20.5,NaN,188.0,178.8,3768.8,1163.5,2145.5,459.8
12,1972,208230000,834900,18670,46850,NaN,376290,393090,7413900,2375500,...,401.0,9.0,22.5,NaN,180.7,188.8,3560.4,1140.8,1993.6,426.1
13,1973,209851000,875910,19640,51400,NaN,384220,420650,7842200,2565500,...,417.4,9.4,24.5,NaN,183.1,200.5,3737.0,1222.5,2071.9,442.6
14,1974,211392000,974720,20710,55400,NaN,442400,456210,9278700,3039200,...,461.1,9.8,26.2,NaN,209.3,215.8,4389.3,1437.7,2489.5,462.2
15,1975,213124000,1039710,20510,56090,NaN,470500,492620,10252700,3265300,...,487.8,9.6,26.3,NaN,220.8,231.1,4810.7,1532.1,2804.8,473.7
16,1976,214659000,1004210,18780,57080,NaN,427810,500530,10345500,3108700,...,467.8,8.7,26.6,NaN,199.3,233.2,4819.5,1448.2,2921.3,450.0
17,1977,216332000,1029580,19120,63500,NaN,412610,534350,9955000,3071500,...,475.9,8.8,29.4,NaN,190.7,247.0,4601.7,1419.8,2729.9,451.9
18,1978,218059000,1085550,19560,67610,NaN,426930,571460,10123400,3128300,...,497.8,9.0,31.0,NaN,195.8,262.1,4642.5,1434.6,2747.4,460.5
19,1979,220099000,1208030,21460,76390,NaN,480700,629480,11041500,3327700,...,548.9,9.8,34.7,NaN,218.4,286.0,5016.6,1511.9,2999.1,505.6
20,1980,225349264,1344520,23040,82990,NaN,565840,672650,12063700,3795200,...,596.6,10.2,36.8,NaN,251.1,298.5,5353.3,1684.1,3167.0,502.2
21,1981,229465714,1361820,22520,82500,NaN,592910,663900,12061900,3779700,...,593.5,9.8,36.0,NaN,258.4,289.3,5256.5,1647.2,3135.3,474.1
22,1982,231664458,1322390,21010,78770,NaN,553130,669480,11652000,3447100,...,570.8,9.1,34.0,NaN,238.8,289.0,5029.7,1488.0,3083.1,458.6
23,1983,233791994,1258087,19308,78918,NaN,506567,653294,10850543,3129851,...,538.1,8.3,33.8,NaN,216.7,279.4,4641.1,1338.7,2871.3,431.1
24,1984,235824902,1273282,18692,84233,NaN,485008,685349,10608473,2984434,...,539.9,7.9,35.7,NaN,205.7,290.6,4498.5,1265.5,2795.2,437.7
25,1985,237923795,1327767,18976,87671,NaN,497874,723246,11102590,3073348,...,558.1,8.0,36.8,NaN,209.3,304.0,4666.4,1291.7,2911.2,463.5
26,1986,240132887,1489169,20613,91459,NaN,542775,834322,11722700,3241410,...,620.1,8.6,38.1,NaN,226.0,347.4,4881.8,1349.8,3022.1,509.8
27,1987,242288918,1483999,20096,91111,NaN,517704,855088,12024709,3236184,...,612.5,8.3,37.6,NaN,213.7,352.9,4963.0,1335.7,3095.4,531.9
28,1988,244498982,1566221,20675,92486,NaN,542968,910092,12356865,3218077,...,640.6,8.5,37.8,NaN,222.1,372.2,5054.0,1316.2,3151.7,586.1
29,1989,246819230,1646037,21500,94504,NaN,578326,951707,12605412,3168170,...,666.9,8.7,38.3,NaN,234.3,385.6,5107.1,1283.6,3189.6,634.0
30,1990,249464396,1820127,23438,102555,NaN,639271,1054863,12655486,3073909,...,729.6,9.4,41.1,NaN,256.3,422.9,5073.1,1232.2,3185.1,655.8
31,1991,252153092,1911767,24703,106593,NaN,687732,1092739,12961116,3157150,...,758.2,9.8,42.3,NaN,272.7,433.4,5140.2,1252.1,3229.1,659.0
32,1992,255029699,1932274,23760,109062,NaN,672478,1126974,12505917,2979884,...,757.7,9.3,42.8,NaN,263.7,441.9,4903.7,1168.4,3103.6,631.6
33,1993,257782608,1926017,24526,106014,NaN,659870,1135607,12218777,2834808,...,747.1,9.5,41.1,NaN,256.0,440.5,4740.0,1099.7,3033.9,606.3
34,1994,260327021,1857670,23326,102216,NaN,618949,1113179,12131873,2712774,...,713.6,9.0,39.3,NaN,237.8,427.6,4660.2,1042.1,3026.9,591.3
35,1995,262803276,1798792,21606,97470,NaN,580509,1099207,12063935,2593784,...,684.5,8.2,37.1,NaN,220.9,418.3,4590.5,987.0,3043.2,560.3
36,1996,265228572,1688540,19645,96252,NaN,535594,1037049,11805323,2506400,...,636.6,7.4,36.3,NaN,201.9,391.0,4451.0,945.0,2980.3,525.7
37,1997,267783607,1636096,18208,96153,NaN,498534,1023201,11558475,2460526,...,611.0,6.8,35.9,NaN,186.2,382.1,4316.3,918.8,2891.8,505.7
38,1998,270248003,1533887,16974,93144,NaN,447186,976583,10951827,2332735,...,567.6,6.3,34.5,NaN,165.5,361.4,4052.5,863.2,2729.5,459.9
39,1999,272690813,1426044,15522,89411,NaN,409371,911740,10208334,2100739,...,523.0,5.7,32.8,NaN,150.1,334.3,3743.6,770.4,2550.7,422.5
40,2000,281421906,1425486,15586,90178,NaN,408016,911706,10182584,2050992,...,506.5,5.5,32.0,NaN,145.0,324.0,3618.3,728.8,2477.3,412.2
41,2001,285317559,1439480,16037,90863,NaN,423557,909023,10437189,2116531,...,504.5,5.6,31.8,NaN,148.5,318.6,3658.1,741.8,2485.7,430.5
42,2002,287973924,1423677,16229,95235,NaN,420806,891407,10455277,2151252,...,494.4,5.6,33.1,NaN,146.1,309.5,3630.6,747.0,2450.7,432.9
43,2003,290788976,1383676,16528,93883,NaN,414235,859030,10442862,2154834,...,475.8,5.7,32.3,NaN,142.5,295.4,3591.2,741.0,2416.5,433.7
44,2004,293656842,1360088,16148,95089,NaN,401470,847381,10319386,2144446,...,463.2,5.5,32.4,NaN,136.7,288.6,3514.1,730.3,2362.3,421.5
45,2005,296507061,1390745,16740,94347,NaN,417438,862220,10174754,2155448,...,469.0,5.6,31.8,NaN,140.8,290.8,3431.5,726.9,2287.8,416.8
46,2006,299398484,1435123,17309,94472,NaN,449246,874096,10019601,2194993,...,479.3,5.8,31.6,NaN,150.0,292.0,3346.6,733.1,2213.2,400.2
47,2007,301621157,1422970,17128,92160,NaN,447324,866358,9882212,2190198,...,471.8,5.7,30.6,NaN,148.3,287.2,3276.4,726.1,2185.4,364.9
48,2008,304059724,1394461,16465,90750,NaN,443563,843683,9774152,2228887,...,458.6,5.4,29.8,NaN,145.9,277.5,3214.6,733.0,2166.1,315.4
49,2009,307006550,1325896,15399,89241,NaN,408742,812514,9337060,2203313,...,431.9,5.0,29.1,NaN,133.1,264.7,3041.3,717.7,2064.5,259.2
50,2010,309330219,1251248,14722,85593,NaN,369089,781844,9112625,2168459,...,404.5,4.8,27.7,NaN,119.3,252.8,2945.9,701.0,2005.8,239.1
51,2011,311587816,1206031,14661,84175,NaN,354772,752423,9052743,2185140,...,387.1,4.7,27.0,NaN,113.9,241.5,2905.4,701.3,1974.1,230.0
52,2012,313873685,1217067,14866,85141,NaN,355051,762009,9001992,2109932,...,387.8,4.7,27.1,NaN,113.1,242.8,2868.0,672.2,1965.4,230.4
53,2013,316497531,1199684,14319,82109,113695.0,345095,726575,8650761,1931835,...,379.1,4.5,25.9,35.9,109.0,229.6,2733.3,610.4,1901.6,221.3
54,2014,318857056,1197987,14249,84041,116645.0,325802,741291,8277829,1729806,...,375.7,4.5,26.4,36.6,102.2,232.5,2596.1,542.5,1837.3,216.2

In [ ]:
#pandas function
crime.mean()
crime.min()
crime.max()
crime.median()
crime.std()

Year                                         1.602082e+01
Population                                   4.165900e+07
Violent crime total                          4.600798e+05
Murder and nonnegligent Manslaughter         4.266961e+03
Legacy rape /1                               2.831620e+04
Revised rape /2                              2.085965e+03
Robbery                                      1.505237e+05
Aggravated assault                           2.963532e+05
Property crime total                         2.738866e+06
Burglary                                     7.257360e+05
Larceny-theft                                1.846694e+06
Motor vehicle theft                          3.456599e+05
Violent Crime rate                           1.612661e+02
Murder and nonnegligent manslaughter rate    1.891585e+00
Legacy rape rate /1                          9.470519e+00
Revised rape rate /2                         4.949747e-01
Robbery rate                                 6.014547e+01
Aggravated assault rate                      1.001685e+02
Property crime rate                          1.033007e+03
Burglary rate                                3.346266e+02
Larceny-theft rate                           6.402610e+02
Motor vehicle theft rate                     1.290778e+02
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 'B', 'A', np.nan, 'C'],
    'C': [10, 20, 30, 40, np.nan]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
     A    B     C
0  1.0  NaN  10.0
1  2.0    B  20.0
2  NaN    A  30.0
3  4.0  NaN  40.0
4  5.0    C   NaN

In [ ]:
# Mean Imputation for column 'A' and 'C'
df['A'].fillna(df['A'].mean(), inplace=True)
df['C'].fillna(df['C'].mean(), inplace=True)

print("\nDataFrame after Mean Imputation:")
print(df)

DataFrame after Mean Imputation:
     A    B     C
0  1.0  NaN  10.0
1  2.0    B  20.0
2  3.0    A  30.0
3  4.0  NaN  40.0
4  5.0    C  25.0

<ipython-input-8-c6d688d45f57>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['A'].fillna(df['A'].mean(), inplace=True)
<ipython-input-8-c6d688d45f57>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['C'].fillna(df['C'].mean(), inplace=True)